trunk/fileServer/src/main/webapp/WEB-INF/FileServerService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://buzzard.com/FileServer/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FileServerService"
	targetNamespace="http://buzzard.com/FileServer/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://buzzard.com/FileServer/">
      <xsd:element name="getFileList">
      	<xsd:complexType>
      		<xsd:sequence>


      			<xsd:element name="credentials"
      				type="tns:AuthenticationCredentials" maxOccurs="1"
      				minOccurs="1">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="getFileListResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="files" type="tns:File"
      				maxOccurs="unbounded" minOccurs="0">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="FileChunk">
      	<xsd:sequence>
      		<xsd:element name="offset" type="xsd:long" maxOccurs="1" minOccurs="1"></xsd:element>

      		<xsd:element name="length" type="xsd:int" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="File">
      	<xsd:sequence>
      		<xsd:element name="fileID" type="xsd:long" maxOccurs="1"
      			minOccurs="1">
      		</xsd:element>
      		<xsd:element name="fileName" type="xsd:string"
      			maxOccurs="1" minOccurs="1">
      		</xsd:element>

      		<xsd:element name="chunkOffsets" type="xsd:long"
      			maxOccurs="unbounded" minOccurs="0">
      		</xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    
      <xsd:complexType name="AuthenticationCredentials">
      	<xsd:sequence>
      		<xsd:element name="userName" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      		<xsd:element name="userPassword" type="xsd:string" maxOccurs="1" minOccurs="1"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getFileListRequest">
  	<wsdl:part name="parameters" element="tns:getFileList"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getFileListResponse">
  	<wsdl:part name="parameters" element="tns:getFileListResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="FileServer">
    <wsdl:operation name="getFileList">
    	<wsdl:input message="tns:getFileListRequest"></wsdl:input>
    	<wsdl:output message="tns:getFileListResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FileServerSOAP" type="tns:FileServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getFileList">
      <soap:operation soapAction="http://www.buzzard.com/FileServer/NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FileServerService">
    <wsdl:port binding="tns:FileServerSOAP" name="FileServerSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
